@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@font-face {
  font-family: 'NeueMachina'; /* Choose a name for your font */
  src: url('../src/assets/NeueMachina-Regular.otf') format('truetype'); /* Adjust the path and format */
  /* You can add more src lines for different font formats */
  font-weight: normal;
  font-style: normal;
}

.custom-text {
  font-family: 'NeueMachina';
}